@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    /*                   hero               */

    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        /* background-image: linear-gradient(
                0deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/people-office.jpg); */
    }

    .order-button {
        margin-top: 36px;
    }

    /*                 advantages                 */

    .advantages-block {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-icon-box {
        display: flex;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light-gray-color);
        align-items: center;
        justify-content: center;
    }

    .advantages-icon {
        width: 64px;
        height: 64px;
    }

    /* .advantages-item:not(:last-child) {
        margin-right: 24px;
    } */
    .advantages-list {
        /* gap: 0px 24px; */
        /* flex-wrap: nowrap; */
    }
    .advantages-list > .advantages-item {
        width: 264px;
        margin: 0;
    }
    .text {
        font-weight: 400;
    }

    /* What Are We Doing   */

    .works-block {
        display: block;
        padding-bottom: 120px;
    }
    .works-item .text {
        line-height: 1.5;
        color: var(--main-color);
    }

    .works-list {
        display: flex;
    }

    /*          Our Team      */
    .team-block {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-card {
        min-width: 264px;
    }

    /*          customers-block          */

    .customers-block {
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 1200px;
    }

    /*                 footer                  */

    .footer {
        /* max-width: 1440px; */
        width: 100%;
    }

    .footer-list {
        flex-wrap: nowrap;
        align-items: baseline;
        max-width: 1200px;
        gap: 0;
    }

    .social-media-wrap {
        margin-left: 120px;
    }

    /* .subsribe-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    } */

    .subscribe-form {
    }

    .subsribe-wrap {
        margin-left: 80px;
    }
}
