@media screen and (min-width: 320px) {
    .container {
        width: 100%;
        padding: 0 16px;
        margin: 0 auto;
    }

    /*  <header> <header> <header> */

    .site-nav,
    .contacts-list {
        display: none;
    }

    .header-wrap {
        display: flex;
        height: 70px;
        position: relative;
    }

    .nav {
        /* padding: 0; */
    }

    .nav:hover,
    .nav:focus,
    .nav.current,
    .contacts:hover,
    .contacts:focus {
        color: var(--second-accent-color);
    }

    .contacts {
        font-style: normal;
        color: var(--main-color);
        transition: color var(--timing) var(--func-timing);
    }

    header {
        border-bottom: 1px solid #e7e9fc;
    }

    .site-nav-item:not(:last-child) {
        margin-right: 40px;
    }

    .nav-block {
        padding-top: 24px;
    }

    .site-nav .link {
        display: block;
    }

    .current::after {
        display: block;
        position: absolute;
        content: "";
        height: 4px;
        width: 100%;
        bottom: -1px;
        background-color: var(--second-accent-color);
        border-radius: 2px;
    }

    .site-nav-item {
        position: relative;
    }

    /* mobile menu */ /* mobile menu */ /* mobile menu */

    .header-menu {
        /* background-color: var(--background-color); */
        background-color: var(--background-color);
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 428px;
    }

    .header-menu.is-open {
        opacity: 0;
        pointer-events: initial;
    }
    .is-hidden {
    }

    .menu-open {
        position: absolute;
        right: 16px;
        top: 24px;
        width: 32px;
        height: 22px;
        /* background-color: #8cb618; */
    }

    .menu-close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        top: 32px;
        right: 32px;
        border-radius: 50%;

        border: 1px solid var(--second-color);

        cursor: pointer;

        background-color: var(--main-white-color);

        transition: background-color var(--timing) var(--func-timing),
            fill var(--timing) var(--func-timing);
    }

    .burger {
        width: 32px;
        height: 22px;
        stroke: black;
    }

    /*.menu-button .icon-close {
        display: none;
    }

    .menu-button.is-open .icon-close {
        display: block;
    }

    .menu-button.is-open .icon-menu {
        display: none;
    }
    .icon-menu {
        stroke: black;
    } */

    /* .menu-button .icon-close {
        display: block;
    } */

    /*                   hero               */
    .hero-container {
        min-width: 320px;
    }
    .hero-slogan {
        font-size: 36px;
        color: var(--background-color);
        text-transform: capitalize;
        font-weight: 700;
        line-height: 1.11;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: calc(100% - 32px);
        max-width: 320px;
    }

    .order-button:hover,
    .order-button:focus {
        background-color: var(--second-accent-color);
    }

    .order-button {
        display: block;
        padding: 16px 32px;
        margin-top: 72px;
        width: 169px;
        height: 56px;
        margin-right: auto;
        margin-left: auto;

        color: var(--background-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        transition: background-color var(--timing) var(--func-timing);
    }

    .hero {
        margin: 0 auto;
        background-color: var(--second-color);
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: var(--bg-grad),
            url(../images/people-office@1x-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            margin: 0 auto;
            background-color: var(--second-color);
            padding-top: 112px;
            padding-bottom: 112px;
            background-image: var(--bg-grad),
                url(../images/people-office@2x-mobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    /*                 advantages                 */

    .advantages-block {
        display: block;
        padding-top: 96px;
        padding-bottom: 96px;
        align-items: baseline;
    }

    .advantages-icon-box {
        display: none;
    }

    .advantages-list {
        display: block;
    }

    .advantages-item {
        width: 100%;
        max-width: 396px;
        margin: auto;
    }

    .advantages-item:not(:first-child) {
        padding-top: 72px;
    }

    .advantages-subtitle {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
    }

    .text {
        font-weight: 500;
    }

    /* What Are We Doing   */
    .works-block {
        display: none;
    }

    /*          Our Team      */
    .team-block {
        background-color: var(--light-gray-color);
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px;
        align-items: center;
        flex-direction: column;
    }

    .team-card {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        background-color: var(--background-color);
        max-width: 264px;
    }

    .team-svg {
        width: 16px;
        height: 16px;
        fill: var(--light-gray-color);
    }

    .icon-list {
        margin-top: 8px;
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .icon-ellipse {
        display: flex;
        height: 40px;
        width: 40px;
        background-color: var(--accent-color);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color var(--timing) var(--func-timing);
    }

    .team-container {
        padding: 32px 16px;
        text-align: center;
    }

    /*          customers-block          */

    .customers-block {
        padding-top: 96px;
        padding-bottom: 96px;
        max-width: 480px;
        margin: 0 auto;
    }

    .rectangle {
        /* flex-basis: calc(
        (100% - (var(--carts) - 1) * var(--gap)) / var(--carts)
        ); */
        display: flex;
        max-width: 100%;
        height: 88px;
        border: 1px solid var(--inactive-icon);
        border-radius: 4px;
        transition: border var(--timing) var(--func-timing);
        /* flex-basis: calc((100% - (16px * 5)) / 2); */
        flex-basis: calc((100% - 24px) / 2);
        flex-shrink: 1;
    }

    .rectangle-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rectangle:hover,
    .rectangle:focus {
        border: 1px solid var(--second-accent-color);
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 16px;
        justify-content: center;
        flex-basis: 428px;
    }

    .customers-icon {
        width: 110px;
        height: 56px;
        fill: var(--inactive-icon);
        transition: fill var(--timing) var(--func-timing);
    }

    .rectangle:hover .customers-icon,
    .rectangle:focus .customers-icon {
        fill: var(--second-accent-color);
    }

    .customers-wrap {
        /* display: flex;
        flex-basis: ;
        flex-shrink: 0; */
    }

    /*                 footer                  */

    .footer {
        background-color: var(--second-color);
        padding-top: 96px;
        padding-bottom: 96px;
        width: 100%;
    }

    .footer .logo {
        color: var(--light-gray-color);
        text-align: center;
        margin: 0;
    }

    .logo-motto-wrap {
    }
    .motto {
        color: var(--light-gray-color);
        margin-top: 16px;
        width: 268px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 72px;
        max-width: 480px;
    }

    .subsribe-wrap {
        display: block;
        width: 100%;
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .subscribe-input {
        width: 100%;
        max-width: 396px;

        height: 40px;
        background-color: var(--second-color);
        padding: 8px 16px;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border: 1px solid var(--background-color);
        border-radius: 4px;
        font-size: 12px;
        color: var(--background-color);
        opacity: 0.6;
    }

    .footer-lable {
        display: block;
        width: 100%;
        text-align: center;
    }

    .subscribe-title {
        text-align: center;
    }

    /* ===== */

    .footer-icon-ellipse {
        display: flex;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color var(--timing) var(--func-timing);
    }

    .footer-icon-ellipse:focus,
    .footer-icon-ellipse:hover {
        background-color: var(--success-color);
    }

    .social-media-wrap .icon-list {
        margin-top: 16px;
        gap: 16px;
    }

    .social-media-wrap svg {
        width: 24px;
        height: 24px;
        fill: var(--light-gray-color);
    }

    .social-media,
    .subscribe-title {
        font-weight: 500;
        color: var(--background-color);
        text-align: center;
    }

    .subscribe-form ::placeholder {
        color: var(--background-color);
        letter-spacing: 0.04em;
    }

    .subscribe-btn {
        width: 168px;
        display: flex;
        justify-content: space-between;
        padding: 8px 24px;
        font-weight: 500;
        color: var(--background-color);
        background-color: var(--accent-color);
        letter-spacing: 0.04em;
        transition: background-color var(--timing) var(--func-timing);
        align-items: center;
    }

    .subscribe-btn:hover,
    .subscribe-btn:focus {
        background-color: var(--second-accent-color);
    }

    .subscribe-icon {
        width: 24px;
        height: 24px;
        fill: var(--background-color);
    }

    /*=============  modal      */
    .modal {
        width: 392px;
        height: 586px;
    }
}

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}
@media screen and (max-width: 427px) {
    .modal {
        width: 100%;
        height: auto;
    }
    .accept-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
}
