@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    /*                   hero               */

    .hero {
        max-width: 768px;
        /* background-image: linear-gradient(
                0deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/people-office.jpg); */
        background-size: auto;
    }

    .hero-slogan {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
    }
    .order-button {
        margin-top: 48px;
    }

    /*                 advantages                 */

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .advantages-list > .advantages-item {
        width: calc((100%-32px-24px) / 2);
        max-width: 356px;
        padding-top: 0;
    }

    .text {
        font-weight: 500;
    }

    /* What Are We Doing   */
    /*          Our Team      */

    .team-list {
        gap: 24px 64px;
        flex-direction: row;
        justify-content: center;
    }

    .icon-ellipse:hover,
    .icon-ellipse:focus {
        background-color: var(--second-accent-color);
    }

    /*          customers-block          */

    .customers-block {
        max-width: 768px;
    }

    .rectangle {
        display: flex;
        width: 168px;
        height: 88px;
        border: 1px solid var(--inactive-icon);
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        transition: border var(--timing) var(--func-timing);
    }

    .customers-list {
        /* gap: 72px 24px; */
    }

    /*                 footer                  */

    .footer {
        width: 100%;
        /* padding-left: 108px;
        padding-right: 172px; */
    }

    .motto {
        width: 264px;
    }

    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        max-width: 768px;
        gap: 24px;
    }

    .subsribe-wrap {
        margin-left: 120px;
    }

    .subscribe-input {
    }

    .subscribe-form {
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-lable {
        max-width: 264px;
        width: 100%;
    }

    .subscribe-title {
        text-align: left;
    }
     .social-media {
        text-align: left;
    }
}
}
