@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    /*  <header> <header> <header> */

    .site-nav,
    .contacts-list {
        display: flex;
    }

    .menu-button {
        display: none;
    }

    .contacts {
        letter-spacing: 0.04;
    }

    .contacts-list {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .nav {
        font-weight: 500;
        line-height: 1.5;
        color: var(--second-color);
        padding: 24px 0;
        transition: color var(--timing) var(--func-timing);
    }

    .nav-block {
        display: flex;
        align-items: center;
        padding-top: 0;
    }

    .contacts-item {
        font-size: 12px;
    }

    .accept-wrap {
        display: block;
    }

    .address-wrap {
        margin-left: auto;
        line-height: 1.17em;
    }
    .header-wrap {
        align-items: center;
    }

    /*                   hero               */

    .hero {
        max-width: 100%;
        /* background-image: linear-gradient(
                0deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/people-office.jpg); */
        background-size: auto;
    }

    .hero-slogan {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
    .order-button {
        margin-top: 48px;
    }

    /*                 advantages                 */

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .advantages-list > .advantages-item {
        width: calc((100%-32px-24px) / 2);
        max-width: 356px;
        padding-top: 0;
    }

    .text {
        font-weight: 500;
    }

    /* What Are We Doing   */
    /*          Our Team      */

    .team-list {
        gap: 64px 24px;
        flex-direction: row;
        justify-content: center;
    }

    .icon-ellipse:hover,
    .icon-ellipse:focus {
        background-color: var(--second-accent-color);
    }

    /*          customers-block          */

    .customers-block {
        max-width: 768px;
    }

    .rectangle {
        display: flex;
        /* width: 168px; */
        height: 88px;
        border: 1px solid var(--inactive-icon);
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        transition: border var(--timing) var(--func-timing);
        flex-basis: calc((100% - 48px) / 3);
    }

    .customers-list {
        gap: 24px;
    }

    .customers-wrap {
        width: calc(768px - 216px);
    }

    /*                 footer                  */

    .footer {
        width: 100%;
        /* padding-left: 108px;
        padding-right: 172px; */
    }

    .motto {
        width: 264px;
    }

    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 768px;
        gap: 72px 24px;
    }

    .subsribe-wrap {
        margin-left: 120px;
    }

    .subscribe-input {
    }

    .subscribe-form {
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-lable {
        max-width: 264px;
        width: 100%;
    }

    .subscribe-title {
        text-align: left;
    }
    .social-media {
        text-align: left;
    }
    .footer .logo {
        text-align: left;
    }
}
