@media screen and (min-width: 1199px) {
    .container {
        width: 768px;
    }

    /*                   hero               */

    .hero {
        max-width: 768px;
        /* background-image: linear-gradient(
                0deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/people-office.jpg); */
        background-size: auto;
    }

    .hero-slogan {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
    }
    .order-button {
        margin-top: 48px;
    }

    /*                 advantages                 */
    .advantages-block {
    }
}
